<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abc.reimbursement">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Reimbursement"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="ocr" />
        </activity>
        <activity
            android:name=".MealActivity"
            android:label="Meal" />
        <activity
            android:name=".ImageToTextConverter"
            android:label="Scan Here" />
        <activity
            android:name=".MiscellaneousActivity"
            android:label="Miscellaneous" />
        <activity
            android:name=".TeamExpenseActivity"
            android:label="Team Expense" />
        <activity android:name=".ChoiceActivity"
            android:theme="@style/AppTheme.CustomTheme"/>
        <activity
            android:name=".ExpenseReport"
            android:label="Expense Report" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" /> </activity>
        <activity
            android:name=".Data.EditorExpense"
            android:label="Entry"
            android:theme="@style/AppTheme.CustomTheme" />


        <provider
            android:name=".Data.BillProvider"
            android:authorities="com.example.abc.reimbursement"
            android:exported="false" />

        <activity android:name=".LocalTravel" />
        <activity android:name=".DistantTravel" />
        <activity android:name=".DisplayActivity"
            android:label="Display"
           >
          </activity>
    </application>

</manifest>